/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.home .hero img
  max-width 450px !important

pre, code
  font-family: 'Source Code Pro', monospace !important